@tailwind base;
@tailwind components;
@tailwind utilities;

    .input-wrapper{
        position: relative;
        width: 20rem;
        height: 3rem;
        margin-block: 1rem;
    }

    .input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid gray;
        border-radius: 0.25rem;
        font-family: inherit;
        font-size: inherit;
        color: white;
        outline: none;
        padding: 1.25rem;
        background: none;
    }


    .input-label{
        @apply text-slate-300;
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        padding: 0 0.5rem;
        border-radius: 1rem;
        cursor: text;
        transition: top 100ms ease-in-out, left 100ms ease-in-out, font-size 100ms ease-in-out;
    }
    .input:focus{
        @apply border-cyan-200;
    }

    .input:focus ~ .input-label,
    .input:not(:placeholder-shown).input:not(:focus) ~ .input-label {
        top: -0.5rem;
        font-size: 0.8rem;
        left: 0.8rem;
    }

    button {
		@apply bg-transparent hover:bg-slate-300/20 transition-colors text-slate-100 font-semibold hover:border-transparent rounded flex flex-row max-w-fit;
        
    }